* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.nav {
    padding-top: 20px;
    padding-bottom: 15px;
}
nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    flex-wrap: wrap;
}
.logo img {
    width: 150px;
}
.link {
    font-size: 18px;
    font-weight: bold;
    color: #3A3838;
    margin-left: 15px;
    transition: 0.5s;
    padding: 15px 0;
    display: inline-block;
}
.link:hover {
color: #EF4423;
}
.header .content {
    width: 100%;
}
.preview {
    display: flex;
    flex-wrap: wrap;
}
.preview .card {
    width: 25%;
    display: flex;
    flex-direction: column;
}
.preview img {
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    
} 
.red {
    background: #B71C1C;
    padding-bottom: 15px;
}
.red img {
    margin-bottom: 8px;
}
.purple {
    background: #6A1B9A;
    padding-top: 15px;
}
.purple img {
    margin-top: 8px;
}
.blue {
    background: #303F9F;
    padding-bottom: 15px;
}
.blue img {
    margin-bottom: 8px;
}
.green {
    background: #00695C;
    padding-top: 15px;
}
.green img {
    margin-top: 8px;
}
.card .title {
    color: #fff;
    font-size: 19px;
    padding: 0 15px;
    margin-bottom: 8px;
}
.card .description {
color: #EBEBEB;
font-size: 16px;
padding: 0 15px;

}

.news .content {
    background: #EDEDED;

}
.news .title {
    color: #3A3838;
    text-align: center;
    margin: 40px 0;
    font-size: 22px;
}
.news img {
    max-width: 550px;
    width: 100%;
    margin-left: -15px;
}
.news .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.news .box {
    max-width: 540px;
    width: 100%;
}
.news .subtitle {
    font-size: 22px;
    color: #3A3838;
    margin-top: 20px;
    margin-bottom: 30px;

}
.news .description {
    font-size: 18px;
    color: #686868;
}
.footer {
    background: #3A3838;
    margin-top: 50px;
}
.footer .nav {
    padding: 28px 0;
}
.footer .link {
color: #fff;
}
.footer .link:hover {
    color: #EF4423;
}